<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.materiallogindemo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/sapp_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Dark">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.Dark"></activity>
        <activity android:name=".activity.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.Dark"/>
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.SignupActivity"
            android:theme="@style/AppTheme.Dark" />
<activity android:name=".activity.ActualActivity"/>


    </application>

</manifest>